@model IEnumerable<L1_DanielElias_DiegoRamirez.Models.Player>

@{
    ViewData["Title"] = "Index";
}

<h1>MLS Menu</h1>

<p>
    <a asp-action="dotnetList">Players List (.NET)</a>

</p>
<p>
    
    <a asp-action="Implementedlist">Players List(Implemented)</a>

</p>


